body {
  background-color: white;
  margin-top: 100px;
  margin-left: 400px;
  margin-right: 400px;
  font-family: 'Open Sans', sans-serif;

}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: right;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  margin-bottom: 100px;
  padding: 10px;
}

.title {
line-height: 30px;

}
