body {
  background-color: white;
  margin-top: 7%;
  margin-left: 28%;
  margin-right: 28%;
  font-family: 'Open Sans', sans-serif;
}

.topnav a {
  float: right;
  color: black;
  text-align: center;
  font-size: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.title {
line-height: 30px;
margin-bottom: 30px;
}

img.logo {
  height: 60px;
  width: 60px;
  padding-bottom: 3%;
}

.about{
  margin-left: 10%;
  margin-top: 5%;
  font-size: 15px;
  padding:1%;
  line-height: normal;
}

.abt-2{
    font-size: 13px;
    color: gray;
    padding-top: 1%;
}

img.fix {
  height: 60px;
  width: 60px;
  padding-bottom: 3%;
  position:fixed;
  bottom:0px;
  left:50%;
}
